/* Hero Section Styling */
/* .hero-section {
  padding: 80px 0;
  min-height: 85vh;
  display: flex;
  align-items: center;
} */

/* Floating WhatsApp Button */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
}

.tech-chip {
  margin: 5px;
  font-size: 14px;
}

#home,
#services,
#how-it-works,
#training,
#leadership,
#technologies,
#contact {
  scroll-margin-top: 60px;
}
